{"openapi":"3.1.1","info":{"title":"Notra API","version":"1.0.0","description":"OpenAPI schema for Notra content endpoints. Use GET /v1/status for public reachability. Error responses include recovery guidance."},"servers":[{"url":"https://api.usenotra.com","description":"Production"}],"security":[{"BearerAuth":[]}],"tags":[{"name":"Discovery","description":"Public API status and service discovery."},{"name":"Content","description":"Manage posts, brand identities, and GitHub or Linear integrations, and queue content generation. Organization is inferred from the API key (identity.externalId)."},{"name":"Schedules","description":"Manage scheduled content generation. Organization is inferred from the API key (identity.externalId)."},{"name":"Event Triggers","description":"Manage event-based content generation triggered by GitHub webhooks. Organization is inferred from the API key (identity.externalId)."},{"name":"Chats","description":"Manage chat sessions. Organization is inferred from the API key (identity.externalId)."},{"name":"Skills","description":"Manage reusable writing skills. Organization is inferred from the API key (identity.externalId)."},{"name":"Feedback","description":"Collect and triage feedback submitted by AI agents. Agents post to the organization's feedback URL without credentials; reading and triage require an API key with feedback.read or feedback.write."},{"name":"GEO","description":"Manage generative engine optimization: projects, tracking settings, prompts, prompt sequences, competitors, scans, visibility reads, content gaps and briefs, agent readiness and AI traffic. Project-scoped endpoints require the GEO plan entitlement in addition to their scope; organization-level ingest endpoints require only the traffic scope."}],"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"API Key","description":"Send your API key in the Authorization header as Bearer API_KEY."}},"schemas":{"PublicStatusResponse":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"service":{"type":"string","enum":["Notra API"]},"version":{"type":"string"},"public":{"type":"boolean","enum":[true]},"authentication":{"type":"object","properties":{"type":{"type":"string","enum":["bearer"]},"resource_metadata":{"type":"string","format":"uri"},"guide":{"type":"string","format":"uri"}},"required":["type","resource_metadata","guide"]}},"required":["status","service","version","public","authentication"]},"ErrorResponse":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"},"recovery":{"type":"string"}},"required":["error"]},"RateLimitErrorResponse":{"type":"object","properties":{"error":{"type":"string"},"limit":{"type":"integer","minimum":1},"remaining":{"type":"integer","minimum":0},"reset":{"type":"integer"}},"required":["error","limit","remaining","reset"]},"PatchScheduleRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":120,"description":"Display name shown in the dashboard.","example":"Weekly changelog"},"sourceType":{"type":"string","enum":["cron"],"description":"Always cron for schedules."},"sourceConfig":{"type":"object","properties":{"cron":{"type":"object","properties":{"frequency":{"type":"string","enum":["daily","weekly","monthly","custom"],"description":"How often the schedule runs.","example":"weekly"},"hour":{"type":"integer","minimum":0,"maximum":23,"description":"Hour of the day to run, in UTC (0-23).","example":9},"minute":{"type":"integer","minimum":0,"maximum":59,"description":"Minute of the hour to run (0-59).","example":0},"dayOfWeek":{"type":"integer","minimum":0,"maximum":6,"description":"Day of the week for weekly schedules, 0 (Sunday) to 6 (Saturday). Required when frequency is weekly.","example":1},"dayOfMonth":{"type":"integer","minimum":1,"maximum":31,"description":"Day of the month for monthly schedules (1-31). Required when frequency is monthly.","example":1},"intervalDays":{"type":"integer","minimum":2,"maximum":90,"description":"Run every N days (2-90). Required when frequency is custom.","example":3},"anchorDate":{"type":"string","pattern":"^\\d{4}-\\d{2}-\\d{2}$","description":"UTC calendar date (YYYY-MM-DD) a custom interval counts from. Defaults to today.","example":"2026-09-03"}},"required":["frequency","hour","minute"]}},"required":["cron"]},"targets":{"type":"object","properties":{"repositoryIds":{"type":"array","items":{"type":"string","minLength":1},"minItems":1,"description":"GitHub integration IDs to generate from, as returned by GET /v1/integrations.","example":["51c2f3aa-efdd-4e28-8e69-23fa2dfd3561"]}},"required":["repositoryIds"]},"outputType":{"type":"string","enum":["changelog","blog_post","linkedin_post","twitter_post","image"],"description":"Type of content each run generates.","example":"changelog"},"outputConfig":{"type":"object","properties":{"publishDestination":{"type":"string","enum":["webflow","framer","custom"],"description":"Where auto-published posts are sent."},"brandVoiceId":{"type":"string","minLength":1,"description":"Brand identity ID to write in. Defaults to the organization's default brand identity.","example":"51c2f3aa-efdd-4e28-8e69-23fa2dfd3561"},"instructions":{"type":"string","minLength":1,"maxLength":2000,"description":"Free-text brief for this schedule, passed to the writer on every run on top of the brand's custom instructions. Use it to steer the angle of the content, for example tutorial-style blog posts.","example":"Write a tutorial-style post that walks through one feature shipped in this window, with code samples."}}},"enabled":{"type":"boolean","description":"Whether the schedule runs. Disabled schedules are stored but never fire.","example":true},"autoPublish":{"type":"boolean","default":false,"description":"Publish generated posts automatically instead of saving them as drafts.","example":false},"lookbackWindow":{"type":"string","enum":["current_day","yesterday","last_7_days","last_14_days","last_30_days"],"default":"last_7_days","description":"How far back each run collects source activity.","example":"last_7_days"}},"required":["name","sourceType","sourceConfig","targets","outputType","enabled"]},"PatchEventTriggerRequest":{"type":"object","properties":{"sourceType":{"type":"string","enum":["github_webhook"]},"sourceConfig":{"type":"object","properties":{"eventTypes":{"type":"array","items":{"type":"string","enum":["release","push"]},"minItems":1},"includePreReleases":{"type":"boolean","default":true}},"required":["eventTypes"]},"targets":{"type":"object","properties":{"repositoryIds":{"type":"array","items":{"type":"string","minLength":1},"minItems":1}},"required":["repositoryIds"]},"outputType":{"type":"string","enum":["changelog","blog_post","linkedin_post","twitter_post","image"]},"outputConfig":{"type":"object","properties":{"publishDestination":{"type":"string","enum":["webflow","framer","custom"]},"brandVoiceId":{"type":"string","minLength":1}}},"enabled":{"type":"boolean"},"autoPublish":{"type":"boolean","default":false}},"required":["sourceType","sourceConfig","targets","outputType","enabled"]},"GetChatsResponse":{"type":"object","properties":{"chats":{"type":"array","items":{"$ref":"#/components/schemas/ChatSessionSummary"}}},"required":["chats"]},"ChatSessionSummary":{"type":"object","properties":{"chatId":{"type":"string"},"title":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"pinnedAt":{"type":["string","null"]},"externalChannelId":{"$ref":"#/components/schemas/ExternalChannelId"}},"required":["chatId","title","createdAt","updatedAt","pinnedAt"]},"ExternalChannelId":{"type":["object","null"],"properties":{"source":{"type":"string","enum":["discord","slack","dashboard","agent"]},"id":{"type":"string","maxLength":200}},"required":["source"]},"GetChatResponse":{"type":"object","properties":{"chat":{"$ref":"#/components/schemas/ChatSessionSummary"},"messages":{"type":"array","items":{"$ref":"#/components/schemas/ChatMessage"}}},"required":["chat","messages"]},"ChatMessage":{},"SendChatMessageRequest":{"type":"object","properties":{"message":{"type":"string","minLength":1,"maxLength":50000,"description":"The user message to send.","example":"Summarize what shipped in the last week."},"model":{"type":"string","enum":["auto","anthropic/claude-opus-5","anthropic/claude-opus-4.8","anthropic/claude-sonnet-5","anthropic/claude-sonnet-4.6","anthropic/claude-haiku-4.5","openai/gpt-5.4","openai/gpt-5.5"],"description":"Model to respond with. Defaults to auto, which lets Notra choose.","example":"auto"},"enableThinking":{"type":"boolean","description":"Allow the model to reason before answering.","example":false},"thinkingLevel":{"type":"string","enum":["off","low","medium","high"],"description":"How much reasoning effort to spend when thinking is enabled.","example":"medium"},"timezone":{"type":"string","minLength":1,"maxLength":100,"description":"IANA time zone used to interpret dates in the conversation.","example":"Europe/Berlin"},"context":{"type":"array","items":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["github-repo"]},"integrationId":{"type":"string"},"owner":{"type":"string"},"repo":{"type":"string"}},"required":["type","integrationId","owner","repo"]},{"type":"object","properties":{"type":{"type":"string","enum":["linear-team"]},"integrationId":{"type":"string"},"teamName":{"type":"string"}},"required":["type","integrationId"]},{"type":"object","properties":{"type":{"type":"string","enum":["mcp-server"]},"integrationId":{"type":"string"},"name":{"type":"string","minLength":1,"maxLength":200}},"required":["type","integrationId","name"]}]},"description":"Integrations the assistant may use as tools in this chat: connected GitHub repositories, Linear teams, or MCP servers."},"externalChannelId":{"$ref":"#/components/schemas/PublicExternalChannelId"}},"required":["message"]},"PublicExternalChannelId":{"type":"object","properties":{"source":{"type":"string","enum":["discord","slack","dashboard"]},"id":{"type":"string","maxLength":200}},"required":["source"],"description":"Link the chat to a Discord or Slack channel so it can be found later with GET /v1/chats/by-external."},"ListSkillsResponse":{"type":"object","properties":{"skills":{"type":"array","items":{"$ref":"#/components/schemas/SkillSummary"}}},"required":["skills"]},"SkillSummary":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"isSystem":{"type":"boolean","description":"True for built-in skills provided by Notra. System skills cannot be renamed or deleted."},"updatedAt":{"type":"string"}},"required":["id","name","description","isSystem","updatedAt"]},"SkillResponse":{"type":"object","properties":{"skill":{"$ref":"#/components/schemas/Skill"}},"required":["skill"]},"Skill":{"allOf":[{"$ref":"#/components/schemas/SkillSummary"},{"type":"object","properties":{"content":{"type":"string"},"createdAt":{"type":"string"}},"required":["content","createdAt"]}]},"CreateSkillResponse":{"type":"object","properties":{"skill":{"$ref":"#/components/schemas/Skill"}},"required":["skill"]},"CreateSkillRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":64,"pattern":"^[a-z0-9][a-z0-9-]*[a-z0-9]$|^[a-z0-9]$","description":"Skill name. Lowercase letters, digits, and hyphens only.","example":"humanizer"},"description":{"type":"string","minLength":1,"maxLength":1000,"description":"Short description of when the skill should be used.","example":"Polish near-final drafts so they sound natural and specific."},"content":{"type":"string","minLength":1,"maxLength":200000,"description":"Full skill instructions, typically Markdown.","example":"# Humanizer\n\nRewrite the draft so it reads like a person wrote it. Remove filler, vary sentence length, and keep concrete details."}},"required":["name","description","content"]},"PatchSkillResponse":{"type":"object","properties":{"skill":{"$ref":"#/components/schemas/Skill"}},"required":["skill"]},"PatchSkillRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":64,"pattern":"^[a-z0-9][a-z0-9-]*[a-z0-9]$|^[a-z0-9]$","description":"Skill name. Lowercase letters, digits, and hyphens only.","example":"humanizer"},"description":{"type":"string","minLength":1,"maxLength":1000,"description":"Short description of when the skill should be used.","example":"Polish near-final drafts so they sound natural and specific."},"content":{"type":"string","minLength":1,"maxLength":200000,"description":"Full skill instructions, typically Markdown.","example":"# Humanizer\n\nRewrite the draft so it reads like a person wrote it. Remove filler, vary sentence length, and keep concrete details."}}},"DeleteSkillResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]}},"required":["success"]},"SubmitFeedbackResponse":{"type":"object","properties":{"feedback":{"$ref":"#/components/schemas/Feedback"},"deduplicated":{"type":"boolean","description":"True when an existing feedback with the same idempotencyKey was returned."}},"required":["feedback","deduplicated"]},"Feedback":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":["string","null"]},"source":{"type":"string","enum":["mcp","api","sdk"],"description":"Channel the feedback arrived through.","example":"mcp"},"kind":{"type":"string","enum":["bug","feature","praise","question","other"],"description":"What kind of feedback this is.","example":"bug"},"sentiment":{"type":["string","null"],"enum":["negative","neutral","positive",null],"description":"Overall sentiment of the feedback.","example":"negative"},"status":{"type":"string","enum":["new","triaged","resolved","archived"],"description":"Triage status.","example":"new"},"title":{"type":["string","null"]},"message":{"type":"string"},"agentClient":{"type":["string","null"]},"agentModel":{"type":["string","null"]},"toolVersion":{"type":["string","null"]},"userAgent":{"type":["string","null"]},"contextUrl":{"type":["string","null"]},"externalId":{"type":["string","null"]},"idempotencyKey":{"type":["string","null"]},"metadata":{"type":["object","null"],"additionalProperties":{}},"resolvedAt":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","projectId","source","kind","sentiment","status","title","message","agentClient","agentModel","toolVersion","userAgent","contextUrl","externalId","idempotencyKey","metadata","resolvedAt","createdAt","updatedAt"]},"SubmitFeedbackRequest":{"type":"object","properties":{"message":{"type":"string","minLength":1,"maxLength":4000,"description":"The feedback itself.","example":"The search tool times out when the query has quotes."},"title":{"type":"string","minLength":1,"maxLength":200,"description":"Short summary. When omitted, Notra writes one.","example":"Search times out on quoted queries"},"kind":{"type":"string","enum":["bug","feature","praise","question","other"],"description":"What kind of feedback this is. When omitted, Notra classifies it.","example":"bug"},"sentiment":{"type":"string","enum":["negative","neutral","positive"],"description":"Overall sentiment. When omitted, Notra classifies it from the message.","example":"negative"},"source":{"type":"string","enum":["mcp","api","sdk"],"default":"api","description":"Channel the feedback arrived through.","example":"mcp"},"projectId":{"type":"string","minLength":1,"pattern":"^[A-Za-z0-9_-]{1,100}$","description":"Project to file the feedback under."},"agentClient":{"type":"string","minLength":1,"maxLength":200,"description":"The agent or client that submitted the feedback.","example":"claude-code"},"agentModel":{"type":"string","minLength":1,"maxLength":200,"example":"claude-opus-5"},"toolVersion":{"type":"string","minLength":1,"maxLength":200,"example":"1.2.0"},"userAgent":{"type":"string","minLength":1,"maxLength":2048},"contextUrl":{"type":"string","maxLength":2048,"format":"uri","description":"Page or resource the feedback is about.","example":"https://docs.example.com/api/search"},"externalId":{"type":"string","minLength":1,"maxLength":200,"description":"Your own identifier for the user or session."},"idempotencyKey":{"type":"string","minLength":1,"maxLength":200,"description":"Submitting the same key twice returns the original feedback instead of creating a duplicate."},"metadata":{"type":"object","additionalProperties":{},"description":"Arbitrary JSON attached to the feedback, up to 8 KB."}},"required":["message"]},"ListFeedbackResponse":{"type":"object","properties":{"feedback":{"type":"array","items":{"$ref":"#/components/schemas/Feedback"}},"pagination":{"type":"object","properties":{"limit":{"type":"integer","minimum":1},"currentPage":{"type":"integer","minimum":1},"nextPage":{"type":["integer","null"],"minimum":1},"previousPage":{"type":["integer","null"],"minimum":1},"totalPages":{"type":"integer","minimum":1},"totalItems":{"type":"integer","minimum":0}},"required":["limit","currentPage","nextPage","previousPage","totalPages","totalItems"]}},"required":["feedback","pagination"]},"FeedbackResponse":{"type":"object","properties":{"feedback":{"$ref":"#/components/schemas/Feedback"}},"required":["feedback"]},"UpdateFeedbackRequest":{"type":"object","properties":{"status":{"type":"string","enum":["new","triaged","resolved","archived"],"description":"Triage status.","example":"new"}},"required":["status"]},"ListGeoProjectsResponse":{"type":"object","properties":{"projects":{"type":"array","items":{"$ref":"#/components/schemas/GeoProject"}},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["projects","organization"]},"GeoProject":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"brandSettingsId":{"type":"string"},"createdAt":{"type":"string"}},"required":["id","name","brandSettingsId","createdAt"]},"GeoProjectResponse":{"type":"object","properties":{"project":{"$ref":"#/components/schemas/GeoProject"},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["project","organization"]},"CreateGeoProjectRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":128},"brandSettingsId":{"type":"string","minLength":1,"pattern":"^[A-Za-z0-9_-]{1,100}$","description":"Brand identity to link. Defaults to the organization's default identity."}},"required":["name"]},"PatchGeoProjectRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":128},"brandSettingsId":{"type":"string","minLength":1,"pattern":"^[A-Za-z0-9_-]{1,100}$"}}},"DeleteGeoProjectResponse":{"type":"object","properties":{"id":{"type":"string"},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["id","organization"]},"GeoSettingsResponse":{"type":"object","properties":{"configured":{"type":"boolean","description":"Whether the analytics backend is configured."},"settings":{"$ref":"#/components/schemas/GeoSettings"},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["configured","settings","organization"]},"GeoSettings":{"type":["object","null"],"properties":{"id":{"type":"string"},"organizationId":{"type":"string"},"projectId":{"type":"string"},"companyName":{"type":"string"},"aliases":{"type":"array","items":{"type":"string"}},"conversionPaths":{"type":"array","items":{"type":"string"}},"competitors":{"type":"array","items":{"type":"string"}},"languages":{"type":"array","items":{"type":"string"}},"engines":{"type":"array","items":{"type":"string"}},"enforceZdr":{"type":"boolean"},"nonZdrApprovedEngines":{"type":"array","items":{"type":"string"}},"pausedAutoPromptIds":{"type":"array","items":{"type":"string"}},"removedAutoPromptIds":{"type":"array","items":{"type":"string"}},"enabled":{"type":"boolean"},"scanIntervalHours":{"type":"integer"},"scanStartedAt":{"type":["string","null"]},"lastScanAt":{"type":["string","null"]},"isScanning":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","organizationId","projectId","companyName","aliases","conversionPaths","competitors","languages","engines","enforceZdr","nonZdrApprovedEngines","pausedAutoPromptIds","removedAutoPromptIds","enabled","scanIntervalHours","scanStartedAt","lastScanAt","isScanning","createdAt","updatedAt"]},"PatchGeoSettingsRequest":{"type":"object","properties":{"companyName":{"type":"string","minLength":1,"maxLength":128},"aliases":{"type":"array","items":{"type":"string","minLength":1,"maxLength":128},"maxItems":10},"conversionPaths":{"type":"array","items":{"type":"string","minLength":1,"maxLength":200},"maxItems":20,"description":"Paths that count as a conversion when an AI referral reaches them. Prefix match. Omit to keep the stored list."},"languages":{"type":"array","items":{"type":"string","minLength":1,"maxLength":128},"minItems":1,"maxItems":4},"engines":{"type":"array","items":{"type":"string","minLength":1,"maxLength":128},"minItems":1,"maxItems":64},"enforceZdr":{"type":"boolean"},"nonZdrApprovedEngines":{"type":"array","items":{"type":"string","minLength":1,"maxLength":128},"maxItems":64},"pausedAutoPromptIds":{"type":"array","items":{"type":"string","minLength":1,"maxLength":128},"maxItems":8,"description":"Ids of auto-generated prompts to skip in scans. Omit to keep the current list."},"removedAutoPromptIds":{"type":"array","items":{"type":"string","minLength":1,"maxLength":128},"maxItems":8,"description":"Ids of auto-generated prompts removed from tracking. Omit to keep the current list."},"enabled":{"type":"boolean"},"scanIntervalHours":{"type":"integer","minimum":24,"maximum":2160,"description":"Hours between automatic scans, 24-2160, in whole days (multiple of 24). Presets: 24, 48, 72, 168, 336, 720."}},"required":["companyName","aliases","languages","engines","enforceZdr","nonZdrApprovedEngines","enabled","scanIntervalHours"]},"ListGeoPromptsResponse":{"type":"object","properties":{"configured":{"type":"boolean"},"prompts":{"type":"array","items":{"$ref":"#/components/schemas/GeoPrompt"}},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["configured","prompts","organization"]},"GeoPrompt":{"type":"object","properties":{"id":{"type":"string"},"prompt":{"type":"string"},"enabled":{"type":"boolean"},"source":{"type":"string","enum":["custom","auto"]},"tags":{"type":"array","items":{"type":"string"}},"createdAt":{"type":["string","null"]}},"required":["id","prompt","enabled","source","tags","createdAt"]},"GeoPromptResponse":{"type":"object","properties":{"prompt":{"$ref":"#/components/schemas/GeoPrompt"},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["prompt","organization"]},"CreateGeoPromptRequest":{"type":"object","properties":{"prompt":{"type":"string","minLength":8,"maxLength":300},"tags":{"type":"array","items":{"type":"string","minLength":1,"maxLength":40},"maxItems":20,"description":"Free-form labels for grouping custom prompts. Lowercased and deduplicated on save."}},"required":["prompt"]},"PatchGeoPromptRequest":{"type":"object","properties":{"enabled":{"type":"boolean"},"tags":{"type":"array","items":{"type":"string","minLength":1,"maxLength":40},"maxItems":20,"description":"Free-form labels for grouping custom prompts. Lowercased and deduplicated on save."}}},"DeleteGeoPromptResponse":{"type":"object","properties":{"id":{"type":"string"},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["id","organization"]},"ImportGeoPromptsResponse":{"type":"object","properties":{"imported":{"type":"integer"},"updated":{"type":"integer"},"skipped":{"type":"integer"},"issues":{"type":"array","items":{"type":"object","properties":{"line":{"type":"integer"},"message":{"type":"string"}},"required":["line","message"]},"description":"Rows rejected while parsing CSV. Always empty for `rows`."},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["imported","updated","skipped","issues","organization"]},"ImportGeoPromptsRequest":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"prompt":{"type":"string","minLength":8,"maxLength":300},"enabled":{"type":"boolean"}},"required":["prompt"]},"minItems":1,"maxItems":500},"csv":{"type":"string","minLength":1,"maxLength":1048576,"description":"Raw CSV text with a `prompt` column (optionally `enabled`). Used when `rows` is omitted."}}},"ListGeoSequencesResponse":{"type":"object","properties":{"sequences":{"type":"array","items":{"$ref":"#/components/schemas/GeoSequence"}},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["sequences","organization"]},"GeoSequence":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"steps":{"type":"array","items":{"type":"string"}},"enabled":{"type":"boolean"},"createdAt":{"type":"string"}},"required":["id","name","steps","enabled","createdAt"]},"GeoSequenceResponse":{"type":"object","properties":{"sequence":{"$ref":"#/components/schemas/GeoSequence"},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["sequence","organization"]},"CreateGeoSequenceRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":128},"steps":{"type":"array","items":{"type":"string","minLength":8,"maxLength":300},"minItems":1,"maxItems":5}},"required":["name","steps"]},"PatchGeoSequenceRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":128},"steps":{"type":"array","items":{"type":"string","minLength":8,"maxLength":300},"minItems":1,"maxItems":5},"enabled":{"type":"boolean"}}},"DeleteGeoSequenceResponse":{"type":"object","properties":{"id":{"type":"string"},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["id","organization"]},"RunGeoSequenceResponse":{"type":"object","properties":{"checks":{"type":"integer","description":"Recorded answers across every engine that responded."},"mentions":{"type":"integer","description":"How many of those answers mentioned the tracked brand."},"engines":{"type":"array","items":{"type":"string"},"description":"Engines the conversation was played against."},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["checks","mentions","engines","organization"]},"ListGeoCompetitorsResponse":{"type":"object","properties":{"competitors":{"type":"array","items":{"$ref":"#/components/schemas/GeoCompetitor"}},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["competitors","organization"]},"GeoCompetitor":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"domain":{"type":["string","null"]},"synonyms":{"type":"array","items":{"type":"string"}},"kind":{"type":"string","enum":["direct","indirect"]},"color":{"type":["string","null"]}},"required":["id","name","domain","synonyms","kind","color"]},"PutGeoCompetitorRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":128},"previousName":{"type":"string","minLength":1,"maxLength":128,"description":"Set to rename an existing competitor."},"domain":{"type":["string","null"],"maxLength":128},"synonyms":{"type":"array","items":{"type":"string","minLength":1,"maxLength":128},"maxItems":8},"kind":{"type":"string","enum":["direct","indirect"]},"color":{"type":["string","null"],"maxLength":128}},"required":["name","domain"]},"GeoCompetitorSuggestionsResponse":{"type":"object","properties":{"domain":{"type":"string"},"field":{"type":["string","null"]},"competitors":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"domain":{"type":["string","null"]},"description":{"type":["string","null"]},"confidence":{"type":["string","null"],"enum":["high","medium",null]}},"required":["name","domain","description","confidence"]}},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["domain","field","competitors","organization"]},"ImportGeoCompetitorsResponse":{"type":"object","properties":{"imported":{"type":"integer"},"updated":{"type":"integer"},"skipped":{"type":"integer"},"issues":{"type":"array","items":{"type":"object","properties":{"line":{"type":"integer"},"message":{"type":"string"}},"required":["line","message"]}},"competitors":{"type":"array","items":{"$ref":"#/components/schemas/GeoCompetitor"}},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["imported","updated","skipped","issues","competitors","organization"]},"ImportGeoCompetitorsRequest":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":128},"domain":{"type":["string","null"],"maxLength":128},"kind":{"type":"string","enum":["direct","indirect"]},"synonyms":{"type":"array","items":{"type":"string","minLength":1,"maxLength":128},"maxItems":8}},"required":["name"]},"minItems":1,"maxItems":25},"csv":{"type":"string","minLength":1,"maxLength":1048576,"description":"Raw CSV text with a `name` column (optionally `domain`, `kind`, `synonyms`). Used when `rows` is omitted."}}},"CreateGeoScanResponse":{"type":"object","properties":{"scanId":{"type":"string"},"statusUrl":{"type":"string"},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["scanId","statusUrl","organization"]},"ListGeoScansResponse":{"type":"object","properties":{"scans":{"type":"array","items":{"$ref":"#/components/schemas/GeoScan"}},"pagination":{"type":"object","properties":{"limit":{"type":"integer","minimum":1},"currentPage":{"type":"integer","minimum":1},"nextPage":{"type":["integer","null"],"minimum":1},"previousPage":{"type":["integer","null"],"minimum":1},"totalPages":{"type":"integer","minimum":1},"totalItems":{"type":"integer","minimum":0}},"required":["limit","currentPage","nextPage","previousPage","totalPages","totalItems"]},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["scans","pagination","organization"]},"GeoScan":{"type":"object","properties":{"id":{"type":"string"},"projectId":{"type":"string"},"status":{"type":"string","enum":["running","completed","failed"]},"startedAt":{"type":"string"},"finishedAt":{"type":["string","null"]},"createdAt":{"type":"string"}},"required":["id","projectId","status","startedAt","finishedAt","createdAt"]},"GeoScanResponse":{"type":"object","properties":{"scan":{"$ref":"#/components/schemas/GeoScan"},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["scan","organization"]},"GeoVisibilityOverviewResponse":{"type":"object","properties":{"configured":{"type":"boolean","description":"Whether the analytics backend is configured."},"engines":{"type":"array","items":{"type":"object","properties":{"engine":{"type":"string"},"checks":{"type":"integer"},"mentions":{"type":"integer"},"mentionRate":{"type":"number"},"avgPosition":{"type":["number","null"]},"lastCheckedAt":{"type":"string"}},"required":["engine","checks","mentions","mentionRate","avgPosition","lastCheckedAt"]}},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["configured","engines","organization"]},"GeoVisibilityTimeseriesResponse":{"type":"object","properties":{"configured":{"type":"boolean"},"points":{"type":"array","items":{"type":"object","properties":{"day":{"type":"string"},"engine":{"type":"string"},"checks":{"type":"integer"},"mentions":{"type":"integer"},"avgPosition":{"type":["number","null"]}},"required":["day","engine","checks","mentions"]}},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["configured","points","organization"]},"GeoVisibilityPromptResultsResponse":{"type":"object","properties":{"configured":{"type":"boolean"},"results":{"type":"array","items":{"type":"object","properties":{"promptId":{"type":"string"},"engine":{"type":"string"},"prompt":{"type":"string"},"answer":{"type":"string"},"mentioned":{"type":"boolean"},"position":{"type":["integer","null"]},"sentiment":{"type":["string","null"]},"competitors":{"type":"array","items":{"type":"string"}},"excerpt":{"type":"string"},"searchQueries":{"type":"array","items":{"type":"string"}},"sources":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"url":{"type":"string"},"domain":{"type":"string"}},"required":["title","url","domain"]}},"lastCheckedAt":{"type":"string"}},"required":["promptId","engine","prompt","answer","mentioned","position","sentiment","competitors","excerpt","searchQueries","sources","lastCheckedAt"]}},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["configured","results","organization"]},"GeoVisibilityCompetitorShareResponse":{"type":"object","properties":{"configured":{"type":"boolean"},"points":{"type":"array","items":{"type":"object","properties":{"brand":{"type":"string"},"mentions":{"type":"integer"},"trend":{"type":"array","items":{"type":"object","properties":{"day":{"type":"string"},"value":{"type":"number"}},"required":["day","value"]}}},"required":["brand","mentions"]}},"timeseries":{"type":"array","items":{"type":"object","properties":{"brand":{"type":"string"},"day":{"type":"string"},"mentions":{"type":"integer"}},"required":["brand","day","mentions"]}},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["configured","points","timeseries","organization"]},"GeoVisibilityLanguageShareResponse":{"type":"object","properties":{"configured":{"type":"boolean"},"points":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string"},"checks":{"type":"integer"},"mentions":{"type":"integer"},"mentionRate":{"type":"number"},"avgPosition":{"type":["number","null"]},"trend":{"type":"array","items":{"type":"object","properties":{"day":{"type":"string"},"value":{"type":"number"}},"required":["day","value"]}}},"required":["language","checks","mentions","mentionRate","avgPosition"]}},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["configured","points","organization"]},"GeoVisibilityCompetitorDetailResponse":{"type":"object","properties":{"configured":{"type":"boolean"},"points":{"type":"array","items":{"type":"object","properties":{"day":{"type":"string"},"mentions":{"type":"integer"},"checks":{"type":"integer"}},"required":["day","mentions","checks"]}},"prompts":{"type":"array","items":{"type":"object","properties":{"promptId":{"type":"string"},"prompt":{"type":"string"},"engine":{"type":"string"},"capturedAt":{"type":"string"},"mentioned":{"type":"boolean"},"position":{"type":["integer","null"]}},"required":["promptId","prompt","engine","capturedAt","mentioned","position"]}},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["configured","points","prompts","organization"]},"GeoContentGapsResponse":{"type":"object","properties":{"promptGaps":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"prompt":{"type":"string"},"title":{"type":["string","null"]},"engines":{"type":"array","items":{"type":"string"}},"mentionedEngines":{"type":"array","items":{"type":"string"}},"competitors":{"type":"array","items":{"type":"string"}},"discoveredCompetitors":{"type":"array","items":{"type":"string"}},"ownMentionRate":{"type":"number"},"engineCoverage":{"type":"number"},"opportunity":{"type":"number"},"won":{"type":"boolean"},"brief":{"type":["object","null"],"properties":{"briefId":{"type":"string"},"status":{"type":"string","enum":["draft","approved","writing","completed","failed"]},"postId":{"type":["string","null"]},"workingTitle":{"type":["string","null"]},"publishedAt":{"type":["string","null"]},"baseline":{"type":["object","null"],"properties":{"mentionedEngines":{"type":"number"},"totalEngines":{"type":"number"}},"required":["mentionedEngines","totalEngines"]},"rescanned":{"type":"boolean"}},"required":["briefId","status","postId","workingTitle","publishedAt","baseline","rescanned"]}},"required":["id","prompt","title","engines","mentionedEngines","competitors","discoveredCompetitors","ownMentionRate","engineCoverage","opportunity","won","brief"]}},"searchGaps":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"prompt":{"type":"string"},"title":{"type":["string","null"]},"impressions":{"type":["number","null"]},"clicks":{"type":["number","null"]},"position":{"type":["number","null"]},"queries":{"type":"array","items":{"type":"object","properties":{"query":{"type":"string"},"clicks":{"type":"number"},"impressions":{"type":"number"},"position":{"type":"number"}},"required":["query","clicks","impressions","position"]}},"brief":{"type":["object","null"],"properties":{"briefId":{"type":"string"},"status":{"type":"string","enum":["draft","approved","writing","completed","failed"]},"postId":{"type":["string","null"]},"workingTitle":{"type":["string","null"]},"publishedAt":{"type":["string","null"]},"baseline":{"type":["object","null"],"properties":{"mentionedEngines":{"type":"number"},"totalEngines":{"type":"number"}},"required":["mentionedEngines","totalEngines"]},"rescanned":{"type":"boolean"}},"required":["briefId","status","postId","workingTitle","publishedAt","baseline","rescanned"]},"recommendation":{"type":"object","properties":{"action":{"type":"string","enum":["create","update","merge","ignore"],"description":"What to do with this query cluster: create a new page, update the strongest existing page, merge overlapping pages, or ignore thin demand."},"reason":{"type":"string"},"targets":{"type":"array","items":{"type":"object","properties":{"kind":{"type":"string","enum":["page","post"]},"id":{"type":"string"},"url":{"type":["string","null"]},"title":{"type":"string"},"score":{"type":"number"}},"required":["kind","id","url","title","score"]}}},"required":["action","reason","targets"]}},"required":["id","prompt","title","impressions","clicks","position","queries","brief","recommendation"]}},"hasScanData":{"type":"boolean","description":"False until the project has at least one scan result."},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["promptGaps","searchGaps","hasScanData","organization"]},"ListGeoContentBriefsResponse":{"type":"object","properties":{"briefs":{"type":"array","items":{"$ref":"#/components/schemas/GeoContentBriefSummary"}},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["briefs","organization"]},"GeoContentBriefSummary":{"type":"object","properties":{"id":{"type":"string"},"topic":{"type":"string"},"workingTitle":{"type":"string"},"status":{"type":"string","enum":["draft","approved","writing","completed","failed"]},"postId":{"type":["string","null"]},"createdAt":{"type":"string"}},"required":["id","topic","workingTitle","status","postId","createdAt"]},"GeoContentBriefResponse":{"type":"object","properties":{"brief":{"$ref":"#/components/schemas/GeoContentBriefDetail"},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["brief","organization"]},"GeoContentBriefDetail":{"type":"object","properties":{"id":{"type":"string"},"topic":{"type":"string"},"brief":{"$ref":"#/components/schemas/GeoContentBriefDocument"},"status":{"type":"string","enum":["draft","approved","writing","completed","failed"]},"autoApproved":{"type":"boolean"},"runId":{"type":["string","null"]},"postId":{"type":["string","null"]},"humanized":{"type":"boolean"},"error":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"completedAt":{"type":["string","null"]}},"required":["id","topic","brief","status","autoApproved","runId","postId","humanized","error","createdAt","updatedAt","completedAt"]},"GeoContentBriefDocument":{"type":"object","properties":{"targetPrompt":{"type":"string"},"intent":{"type":"string"},"contentSubtype":{"type":"string","enum":["guide","comparison","listicle","how-to","faq","alternatives"]},"workingTitle":{"type":"string"},"audience":{"type":"string"},"jobToBeDone":{"type":"string"},"sections":{"type":"array","items":{"type":"object","properties":{"heading":{"type":"string"},"goal":{"type":"string"},"claims":{"type":"array","items":{"type":"string"}}},"required":["heading","goal","claims"]}},"questionsToAnswer":{"type":"array","items":{"type":"string"}},"internalLinks":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"anchor":{"type":"string"},"why":{"type":"string"}},"required":["url","anchor","why"]}},"acceptanceChecklist":{"type":"array","items":{"type":"string"}},"recommendedAngle":{"type":"string"},"competitorsToCounter":{"type":"array","items":{"type":"string"}},"sourcesToReference":{"type":"array","items":{"type":"string"}},"missingCoverage":{"type":"array","items":{"type":"string"}},"baseline":{"type":["object","null"],"properties":{"sourcePromptId":{"type":"string"},"mentionedEngines":{"type":"number"},"totalEngines":{"type":"number"},"engines":{"type":"array","items":{"type":"object","properties":{"engine":{"type":"string"},"mentioned":{"type":"boolean"},"position":{"type":["number","null"]}},"required":["engine","mentioned","position"]}},"competitorMentions":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"engines":{"type":"number"}},"required":["name","engines"]}},"citedDomains":{"type":"array","items":{"type":"object","properties":{"domain":{"type":"string"},"engines":{"type":"number"}},"required":["domain","engines"]}},"capturedAt":{"type":["string","null"]}},"required":["sourcePromptId","mentionedEngines","totalEngines","engines","competitorMentions","citedDomains","capturedAt"]}},"required":["targetPrompt","intent","contentSubtype","workingTitle","audience","jobToBeDone","sections","questionsToAnswer","internalLinks","acceptanceChecklist"]},"PlanGeoContentBriefResponse":{"type":"object","properties":{"briefId":{"type":"string"},"brief":{"$ref":"#/components/schemas/GeoContentBriefDocument"},"status":{"type":"string","enum":["draft","approved","writing","completed","failed"]},"runId":{"type":["string","null"]},"postId":{"type":["string","null"]},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["briefId","brief","status","runId","postId","organization"]},"PlanGeoContentBriefRequest":{"type":"object","properties":{"topic":{"type":"string","minLength":3,"maxLength":200,"description":"What the article should target. Replaced by the source prompt when sourceKind is gap, prompt or search_console."},"autoApprove":{"type":"boolean","default":false,"description":"Start the writer immediately instead of leaving the brief in draft."},"contentSubtype":{"type":"string","enum":["guide","comparison","listicle","how-to","faq","alternatives"]},"brandVoiceIds":{"type":"array","items":{"type":"string","minLength":1,"pattern":"^[A-Za-z0-9_-]{1,100}$"},"maxItems":8,"description":"Only the first entry is used; it overrides the project's brand identity."},"competitorIds":{"type":"array","items":{"type":"string","minLength":1,"pattern":"^[A-Za-z0-9_-]{1,100}$"},"maxItems":25},"sitemapId":{"type":"string","minLength":1,"pattern":"^[A-Za-z0-9_-]{1,100}$"},"sourceKind":{"type":"string","enum":["manual","gap","prompt","search_console"]},"sourceId":{"type":"string","minLength":1,"description":"Gap, prompt or search-console suggestion id. An open brief for the same source is reused instead of planning a new one."},"existingPageUrl":{"type":"string","maxLength":2048,"format":"uri","description":"Existing page the article should refresh instead of creating a competing page."}},"required":["topic"]},"ApproveGeoContentBriefResponse":{"type":"object","properties":{"runId":{"type":"string"},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["runId","organization"]},"GeoAgentReadinessResponse":{"type":"object","properties":{"targetUrl":{"type":"string"},"report":{"$ref":"#/components/schemas/GeoAgentReadinessReport"},"scan":{"allOf":[{"$ref":"#/components/schemas/GeoAgentReadinessReport"},{"description":"Latest run newer than the completed report, if any."}]},"history":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"score":{"type":["number","null"]},"failedCount":{"type":"integer"},"partialCount":{"type":"integer"},"scannedAt":{"type":"string"}},"required":["id","score","failedCount","partialCount","scannedAt"]},"description":"Completed scans, oldest first."},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["targetUrl","report","scan","history","organization"]},"GeoAgentReadinessReport":{"type":["object","null"],"properties":{"id":{"type":"string"},"status":{"type":"string","enum":["running","completed","failed"]},"targetUrl":{"type":"string"},"score":{"type":["number","null"]},"scoreLabel":{"type":["string","null"]},"scoreBreakdown":{"type":["object","null"],"properties":{"essential":{"type":"object","properties":{"earned":{"type":"number"},"available":{"type":"number"},"passing":{"type":"number"},"total":{"type":"number"}},"required":["earned","available","passing","total"]},"recommended":{"type":"object","properties":{"earned":{"type":"number"},"available":{"type":"number"},"passing":{"type":"number"},"total":{"type":"number"}},"required":["earned","available","passing","total"]},"bonus":{"type":"object","properties":{"points":{"type":"number"},"positiveSignals":{"type":"number"}},"required":["points","positiveSignals"]}},"required":["essential","recommended","bonus"]},"issues":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"tier":{"type":"string","enum":["essential","recommended","bonus"]},"result":{"type":"string","enum":["failed","partial"]},"details":{"type":["string","null"]},"recommendation":{"type":["string","null"]}},"required":["id","name","tier","result","details","recommendation"]}},"eligibleChecks":{"type":["integer","null"]},"reportUrl":{"type":["string","null"]},"errorMessage":{"type":["string","null"]},"scannedAt":{"type":["string","null"]},"createdAt":{"type":"string"}},"required":["id","status","targetUrl","score","scoreLabel","scoreBreakdown","issues","eligibleChecks","reportUrl","errorMessage","scannedAt","createdAt"],"description":"Latest completed report, if any."},"GeoAgentReadinessScanResponse":{"type":"object","properties":{"reportId":{"type":"string"},"alreadyRunning":{"type":"boolean","description":"True when an in-flight scan for the same URL was reused instead of starting a new one."},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["reportId","alreadyRunning","organization"]},"GeoTrafficOverviewResponse":{"type":"object","properties":{"configured":{"type":"boolean","description":"False when the traffic backend is not configured for this deployment; the payload is then empty rather than an error."},"totals":{"type":"object","properties":{"crawler":{"type":"integer"},"cited":{"type":"integer"},"aiReferral":{"type":"integer"},"conversions":{"type":["integer","null"],"description":"AI referral visits that reached a configured conversion path. Null when no conversion paths are set."}},"required":["crawler","cited","aiReferral","conversions"]},"previousConversions":{"type":["integer","null"],"description":"Conversions in the previous window of the same length. Null when no conversion paths are set or no comparison data exists."},"sources":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string"},"visitorType":{"type":"string","enum":["crawler","ai_referral","human","unknown"]},"agent":{"type":"string"},"category":{"type":"string"},"confidence":{"type":"string"},"visits":{"type":"integer"},"previousVisits":{"type":"integer"},"markdownVisits":{"type":"integer"},"paths":{"type":"integer"},"lastSeenAt":{"type":"string"}},"required":["source","visitorType","agent","category","confidence","visits","markdownVisits","paths","lastSeenAt"]}},"points":{"type":"array","items":{"type":"object","properties":{"day":{"type":"string"},"visitorType":{"type":"string","enum":["crawler","ai_referral","human","unknown"]},"source":{"type":"string"},"visits":{"type":"integer"}},"required":["day","visitorType","source","visits"]}},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["configured","totals","previousConversions","sources","points","organization"]},"GeoTrafficLogResponse":{"type":"object","properties":{"configured":{"type":"boolean","description":"False when the traffic backend is not configured for this deployment; the payload is then empty rather than an error."},"log":{"type":"array","items":{"type":"object","properties":{"capturedAt":{"type":"string"},"visitorType":{"type":"string","enum":["crawler","ai_referral","human","unknown"]},"source":{"type":"string"},"agent":{"type":"string"},"category":{"type":"string"},"confidence":{"type":"string"},"path":{"type":"string"},"host":{"type":"string"},"country":{"type":"string"},"ua":{"type":"string"},"journeyId":{"type":"string"},"wantsMarkdown":{"type":"boolean"}},"required":["capturedAt","visitorType","source","agent","category","confidence","path","host","country","ua","journeyId","wantsMarkdown"]}},"total":{"type":"integer"},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["configured","log","total","organization"]},"GeoTrafficJourneysResponse":{"type":"object","properties":{"configured":{"type":"boolean","description":"False when the traffic backend is not configured for this deployment; the payload is then empty rather than an error."},"journeys":{"type":"array","items":{"type":"object","properties":{"journeyId":{"type":"string"},"source":{"type":"string"},"visitorType":{"type":"string","enum":["crawler","ai_referral","human","unknown"]},"pages":{"type":"integer"},"distinctPaths":{"type":"integer"},"firstSeenAt":{"type":"string"},"lastSeenAt":{"type":"string"},"samplePaths":{"type":"array","items":{"type":"string"}}},"required":["journeyId","source","visitorType","pages","distinctPaths","firstSeenAt","lastSeenAt","samplePaths"]}},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["configured","journeys","organization"]},"GeoJourneyDetailResponse":{"type":"object","properties":{"configured":{"type":"boolean","description":"False when the traffic backend is not configured for this deployment; the payload is then empty rather than an error."},"events":{"type":"array","items":{"type":"object","properties":{"capturedAt":{"type":"string"},"path":{"type":"string"},"host":{"type":"string"},"method":{"type":"string"},"referer":{"type":"string"},"country":{"type":"string"},"agent":{"type":"string"},"category":{"type":"string"}},"required":["capturedAt","path","host","method","referer","country","agent","category"]}},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["configured","events","organization"]},"GeoTrafficPagesResponse":{"type":"object","properties":{"configured":{"type":"boolean","description":"False when the traffic backend is not configured for this deployment; the payload is then empty rather than an error."},"pages":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"source":{"type":"string"},"visitorType":{"type":"string","enum":["crawler","ai_referral","human","unknown"]},"visits":{"type":"integer"},"previousVisits":{"type":"integer"},"lastSeenAt":{"type":"string"}},"required":["path","source","visitorType","visits","lastSeenAt"]}},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["configured","pages","organization"]},"GeoIngestSetupResponse":{"type":"object","properties":{"ingestUrl":{"type":"string","description":"Endpoint the tracking snippet posts events to."},"snippet":{"type":"string","description":"Install snippet for the default framework (Next.js)."},"snippets":{"type":"object","properties":{"next":{"type":"string"},"nuxt":{"type":"string"},"netlify":{"type":"string"}},"required":["next","nuxt","netlify"]},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["ingestUrl","snippet","snippets","organization"]},"GeoIngestTokenResponse":{"type":"object","properties":{"ingestUrl":{"type":"string","description":"Endpoint the tracking snippet posts events to."},"snippet":{"type":"string","description":"Install snippet for the default framework (Next.js)."},"snippets":{"type":"object","properties":{"next":{"type":"string"},"nuxt":{"type":"string"},"netlify":{"type":"string"}},"required":["next","nuxt","netlify"]},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]},"token":{"type":"string","description":"Tracking token. Shown once per request; rotating invalidates every previously issued token."}},"required":["ingestUrl","snippet","snippets","organization","token"]},"CreateAgentSessionResponse":{"type":"object","properties":{"ok":{"type":"boolean","enum":[true]},"sessionId":{"type":"string"},"continuationToken":{"type":"string"}},"required":["ok","sessionId","continuationToken"]},"CreateAgentSessionRequest":{"type":"object","properties":{"message":{"type":"string","minLength":1,"maxLength":200000,"description":"The first user message of the session."}},"required":["message"]},"SendAgentMessageRequest":{"type":"object","properties":{"message":{"type":"string","minLength":1,"maxLength":200000,"description":"The next user message. Omit when only answering a pending input request."},"inputResponses":{"type":"array","items":{"type":"object","properties":{"requestId":{"type":"string","minLength":1},"optionId":{"type":"string","minLength":1,"description":"The chosen option id from the input.requested event, e.g. \"approve\" or \"deny\"."}},"required":["requestId","optionId"]},"description":"Answers to pending input.requested events (tool approvals, questions) from the event stream."},"continuationToken":{"type":"string","minLength":1,"description":"The continuation token returned by the previous request for this session."}},"required":["continuationToken"]},"ListAgentChatsResponse":{"type":"object","properties":{"sessions":{"type":"array","items":{"$ref":"#/components/schemas/AgentSessionSummary"}}},"required":["sessions"]},"AgentSessionSummary":{"type":"object","properties":{"sessionId":{"type":"string"},"chatId":{"type":["string","null"]},"surface":{"type":"string"},"status":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["sessionId","chatId","surface","status","createdAt","updatedAt"]}},"parameters":{}},"paths":{"/v1/status":{"get":{"tags":["Discovery"],"operationId":"getPublicApiStatus","summary":"Check public API reachability","security":[],"responses":{"200":{"description":"Public reachability and authentication discovery metadata for agents.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicStatusResponse"}}}}}}},"/v1/posts":{"get":{"tags":["Content"],"operationId":"listPosts","summary":"List posts","description":"Returns posts for the organization the API key belongs to, newest first by default. Only published posts are included unless you pass status=draft,published.","parameters":[{"schema":{"type":"string","enum":["asc","desc"],"default":"desc","description":"Sort by creation date","example":"desc"},"required":false,"description":"Sort by creation date","name":"sort","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":10,"description":"Items per page","example":10},"required":false,"description":"Items per page","name":"limit","in":"query"},{"schema":{"type":"integer","minimum":1,"default":1,"description":"Page number","example":1},"required":false,"description":"Page number","name":"page","in":"query"},{"schema":{"type":"string","description":"Filter by status using a comma-separated list."},"required":false,"description":"Filter by status using a comma-separated list.","name":"status","in":"query"},{"schema":{"type":"string","description":"Filter by content type using a comma-separated list."},"required":false,"description":"Filter by content type using a comma-separated list.","name":"contentType","in":"query"},{"schema":{"type":"string","description":"Filter by brand identity ID using a comma-separated list."},"required":false,"description":"Filter by brand identity ID using a comma-separated list.","name":"brandIdentityId","in":"query"}],"responses":{"200":{"description":"Posts fetched successfully","content":{"application/json":{"schema":{"type":"object","properties":{"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]},"posts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"slug":{"type":["string","null"]},"content":{"type":"string","description":"Rendered HTML for text posts. For image posts, this is the public CDN URL of the rendered image."},"htmlUrl":{"type":["string","null"],"description":"Public CDN URL of the generated HTML artifact for image posts. Null for non-image posts."},"markdown":{"type":["string","null"],"description":"Markdown source for text posts. Null for image posts."},"rawHtml":{"type":["string","null"],"description":"Legacy inline generated HTML for image posts. New generated image HTML is stored as htmlUrl. Null for non-image posts."},"recommendations":{"type":["string","null"]},"contentType":{"type":"string","enum":["changelog","linkedin_post","twitter_post","blog_post","investor_update","image"]},"sourceMetadata":{},"status":{"type":"string","enum":["draft","published"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","title","slug","content","htmlUrl","markdown","rawHtml","recommendations","contentType","status","createdAt","updatedAt"]}},"pagination":{"type":"object","properties":{"limit":{"type":"integer","minimum":1},"currentPage":{"type":"integer","minimum":1},"nextPage":{"type":["integer","null"],"minimum":1},"previousPage":{"type":["integer","null"],"minimum":1},"totalPages":{"type":"integer","minimum":1},"totalItems":{"type":"integer","minimum":0}},"required":["limit","currentPage","nextPage","previousPage","totalPages","totalItems"]}},"required":["organization","posts","pagination"]}}}},"400":{"description":"Invalid path params or query","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Organization not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Authentication service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/posts/{postId}":{"get":{"tags":["Content"],"operationId":"getPost","summary":"Get a single post","description":"Returns the post. When no post with this ID exists in your organization, the response is still 200 with post set to null.","parameters":[{"schema":{"type":"string","minLength":1,"pattern":"^[A-Za-z0-9_-]{1,100}$","example":"post_123"},"required":true,"in":"path","name":"postId"}],"responses":{"200":{"description":"Post fetched successfully","content":{"application/json":{"schema":{"type":"object","properties":{"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]},"post":{"type":["object","null"],"properties":{"id":{"type":"string"},"title":{"type":"string"},"slug":{"type":["string","null"]},"content":{"type":"string","description":"Rendered HTML for text posts. For image posts, this is the public CDN URL of the rendered image."},"htmlUrl":{"type":["string","null"],"description":"Public CDN URL of the generated HTML artifact for image posts. Null for non-image posts."},"markdown":{"type":["string","null"],"description":"Markdown source for text posts. Null for image posts."},"rawHtml":{"type":["string","null"],"description":"Legacy inline generated HTML for image posts. New generated image HTML is stored as htmlUrl. Null for non-image posts."},"recommendations":{"type":["string","null"]},"contentType":{"type":"string","enum":["changelog","linkedin_post","twitter_post","blog_post","investor_update","image"]},"sourceMetadata":{},"status":{"type":"string","enum":["draft","published"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","title","slug","content","htmlUrl","markdown","rawHtml","recommendations","contentType","status","createdAt","updatedAt"]}},"required":["organization","post"]}}}},"400":{"description":"Invalid path params","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Organization not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Authentication service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Content"],"operationId":"deletePost","summary":"Delete a single post","parameters":[{"schema":{"type":"string","minLength":1,"pattern":"^[A-Za-z0-9_-]{1,100}$","example":"post_123"},"required":true,"in":"path","name":"postId"}],"responses":{"200":{"description":"Post deleted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["id","organization"]}}}},"400":{"description":"Invalid path params","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Post not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Authentication service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Content"],"operationId":"updatePost","summary":"Update a single post","description":"Updates any combination of title, slug, markdown, and status. Sending markdown re-renders the stored HTML, and when title is omitted it is taken from the first heading in the markdown, keeping the existing title when the markdown has no heading. Slugs are only accepted for blog posts and changelogs.","parameters":[{"schema":{"type":"string","minLength":1,"pattern":"^[A-Za-z0-9_-]{1,100}$","example":"post_123"},"required":true,"in":"path","name":"postId"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"title":{"type":"string","minLength":1,"maxLength":120,"example":"Ship notes for week 11"},"slug":{"type":["string","null"],"minLength":1,"maxLength":160,"pattern":"^[a-z0-9]+(?:-[a-z0-9]+)*$","example":"ship-notes-week-11"},"markdown":{"type":"string","minLength":1,"maxLength":100000,"example":"# Ship notes\n\nWe shipped a faster editor."},"status":{"type":"string","enum":["draft","published"],"example":"published"}}}}}},"responses":{"200":{"description":"Post updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]},"post":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"slug":{"type":["string","null"]},"content":{"type":"string","description":"Rendered HTML for text posts. For image posts, this is the public CDN URL of the rendered image."},"htmlUrl":{"type":["string","null"],"description":"Public CDN URL of the generated HTML artifact for image posts. Null for non-image posts."},"markdown":{"type":["string","null"],"description":"Markdown source for text posts. Null for image posts."},"rawHtml":{"type":["string","null"],"description":"Legacy inline generated HTML for image posts. New generated image HTML is stored as htmlUrl. Null for non-image posts."},"recommendations":{"type":["string","null"]},"contentType":{"type":"string","enum":["changelog","linkedin_post","twitter_post","blog_post","investor_update","image"]},"sourceMetadata":{},"status":{"type":"string","enum":["draft","published"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","title","slug","content","htmlUrl","markdown","rawHtml","recommendations","contentType","status","createdAt","updatedAt"]}},"required":["organization","post"]}}}},"400":{"description":"Invalid path params or request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Post not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Post slug already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded. This endpoint allows 60 requests per 1 minute per API key.","headers":{"RateLimit-Limit":{"description":"Maximum requests allowed in the current window.","schema":{"type":"integer"}},"RateLimit-Remaining":{"description":"Requests remaining in the current window.","schema":{"type":"integer"}},"RateLimit-Reset":{"description":"Seconds until the current window resets.","schema":{"type":"integer"}},"Retry-After":{"description":"Seconds the client should wait before retrying.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitErrorResponse"}}}},"503":{"description":"Authentication service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/posts/generate":{"post":{"tags":["Content"],"operationId":"createPostGeneration","summary":"Queue async post generation","description":"Queues a generation job for one content type and returns 202 with the job. Select sources with integrations.github, integrations.linear, or github.repositories; when no selector is given at all, every connected GitHub integration is used. Poll GET /v1/posts/generate/{jobId} until job.status is completed, failed, or skipped. Notra does not send webhooks when the job finishes.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"contentType":{"type":"string","enum":["changelog","blog_post","linkedin_post","twitter_post","image"],"description":"Type of content to generate.","example":"blog_post"},"lookbackWindow":{"type":"string","enum":["current_day","yesterday","last_7_days","last_14_days","last_30_days"],"default":"last_7_days","description":"How far back to collect source activity (commits, pull requests, releases, Linear issues).","example":"last_7_days"},"brandVoiceId":{"type":"string","minLength":1,"description":"Deprecated. Use brandIdentityId instead.","example":"51c2f3aa-efdd-4e28-8e69-23fa2dfd3561"},"brandIdentityId":{"type":["string","null"],"minLength":1,"description":"Brand identity to write in. Defaults to the organization's default brand identity.","example":"51c2f3aa-efdd-4e28-8e69-23fa2dfd3561"},"repositoryIds":{"type":"array","items":{"type":"string","minLength":1},"example":["repo_1","repo_2"],"description":"Deprecated. Use integrations.github with GitHub integration IDs instead."},"linearIntegrationIds":{"type":"array","items":{"type":"string","minLength":1},"example":["linear_integration_1"],"description":"Deprecated. Use integrations.linear with Linear integration IDs instead."},"integrations":{"type":"object","properties":{"github":{"type":"array","items":{"type":"string","minLength":1},"minItems":1,"description":"GitHub integration IDs to use as sources, as returned by GET /v1/integrations.","example":["integration_1","integration_2"]},"linear":{"type":"array","items":{"type":"string","minLength":1},"minItems":1,"description":"Linear integration IDs to use as sources, as returned by GET /v1/integrations.","example":["linear_integration_1"]}},"description":"Source integrations to draw activity from. Omit this and github.repositories to use every connected GitHub integration."},"github":{"type":"object","properties":{"repositories":{"type":"array","items":{"type":"object","properties":{"owner":{"type":"string","minLength":1},"repo":{"type":"string","minLength":1}},"required":["owner","repo"]},"minItems":1}},"required":["repositories"],"description":"Select connected repositories by owner and name instead of integration ID. Cannot be combined with integrations.github.","example":{"repositories":[{"owner":"usenotra","repo":"notra"}]}},"dataPoints":{"type":"object","properties":{"includePullRequests":{"type":"boolean","default":true},"includeCommits":{"type":"boolean","default":true},"includeReleases":{"type":"boolean","default":true},"includeLinearData":{"type":"boolean","default":false}},"default":{"includePullRequests":true,"includeCommits":true,"includeReleases":true,"includeLinearData":false},"description":"Which kinds of activity to collect from the selected sources."},"selectedItems":{"type":"object","properties":{"commitShas":{"type":"array","items":{"type":"string"}},"pullRequestNumbers":{"type":"array","items":{"type":"object","properties":{"repositoryId":{"type":"string"},"number":{"type":"number"}},"required":["repositoryId","number"]}},"releaseTagNames":{"type":"array","items":{"anyOf":[{"type":"string"},{"type":"object","properties":{"repositoryId":{"type":"string"},"tagName":{"type":"string"}},"required":["repositoryId","tagName"]}]}},"linearIssueIds":{"type":"array","items":{"type":"object","properties":{"integrationId":{"type":"string"},"issueId":{"type":"string"}},"required":["integrationId","issueId"]}}},"description":"Restrict generation to specific commits, pull requests, releases, or Linear issues instead of everything in the lookback window."}},"required":["contentType"]}}}},"responses":{"202":{"description":"Post generation queued successfully","content":{"application/json":{"schema":{"type":"object","properties":{"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]},"job":{"type":"object","properties":{"id":{"type":"string"},"organizationId":{"type":"string"},"status":{"type":"string","enum":["queued","running","completed","failed","skipped"],"description":"Job state. Terminal states are completed, failed, and skipped."},"contentType":{"type":"string","enum":["changelog","blog_post","linkedin_post","twitter_post","image"]},"lookbackWindow":{"type":"string","enum":["current_day","yesterday","last_7_days","last_14_days","last_30_days"]},"repositoryIds":{"type":"array","items":{"type":"string"}},"brandVoiceId":{"type":["string","null"]},"workflowRunId":{"type":["string","null"]},"postId":{"type":["string","null"],"description":"ID of the generated post. Set once the job reaches completed."},"error":{"type":["string","null"],"description":"Failure reason when status is failed."},"source":{"type":"string","enum":["api","dashboard"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"completedAt":{"type":["string","null"]}},"required":["id","organizationId","status","contentType","lookbackWindow","repositoryIds","brandVoiceId","workflowRunId","postId","error","source","createdAt","updatedAt","completedAt"]}},"required":["organization","job"]}}}},"400":{"description":"Invalid request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Organization not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded. This endpoint allows 10 requests per 1 minute per API key.","headers":{"RateLimit-Limit":{"description":"Maximum requests allowed in the current window.","schema":{"type":"integer"}},"RateLimit-Remaining":{"description":"Requests remaining in the current window.","schema":{"type":"integer"}},"RateLimit-Reset":{"description":"Seconds until the current window resets.","schema":{"type":"integer"}},"Retry-After":{"description":"Seconds the client should wait before retrying.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitErrorResponse"}}}},"503":{"description":"Content generation is unavailable","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"jobId":{"type":"string"}},"required":["error"]}}}}}}},"/v1/posts/generate/{jobId}":{"get":{"tags":["Content"],"operationId":"getPostGeneration","summary":"Get async post generation status","description":"Returns the job and its event log. job.status moves from queued to running and ends as completed, failed, or skipped. job.postId is set once the post has been created; fetch it with GET /v1/posts/{postId}.","parameters":[{"schema":{"type":"string","minLength":1,"pattern":"^[A-Za-z0-9_-]{1,100}$","description":"Job ID returned by POST /v1/posts/generate.","example":"job_5f0c3b2a9d4e4c1f8a7b6c5d4e3f2a1b"},"required":true,"description":"Job ID returned by POST /v1/posts/generate.","in":"path","name":"jobId"}],"responses":{"200":{"description":"Post generation status fetched successfully","content":{"application/json":{"schema":{"type":"object","properties":{"job":{"type":"object","properties":{"id":{"type":"string"},"organizationId":{"type":"string"},"status":{"type":"string","enum":["queued","running","completed","failed","skipped"],"description":"Job state. Terminal states are completed, failed, and skipped."},"contentType":{"type":"string","enum":["changelog","blog_post","linkedin_post","twitter_post","image"]},"lookbackWindow":{"type":"string","enum":["current_day","yesterday","last_7_days","last_14_days","last_30_days"]},"repositoryIds":{"type":"array","items":{"type":"string"}},"brandVoiceId":{"type":["string","null"]},"workflowRunId":{"type":["string","null"]},"postId":{"type":["string","null"],"description":"ID of the generated post. Set once the job reaches completed."},"error":{"type":["string","null"],"description":"Failure reason when status is failed."},"source":{"type":"string","enum":["api","dashboard"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"completedAt":{"type":["string","null"]}},"required":["id","organizationId","status","contentType","lookbackWindow","repositoryIds","brandVoiceId","workflowRunId","postId","error","source","createdAt","updatedAt","completedAt"]},"events":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"jobId":{"type":"string"},"type":{"type":"string","enum":["queued","workflow_triggered","running","fetching_repositories","generating_content","post_created","completed","failed","skipped"]},"message":{"type":"string"},"createdAt":{"type":"string"},"metadata":{"type":["object","null"],"additionalProperties":{}}},"required":["id","jobId","type","message","createdAt","metadata"]}}},"required":["job","events"]}}}},"400":{"description":"Invalid path params","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Generation job not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Content generation is unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/brand-identities":{"get":{"tags":["Content"],"operationId":"listBrandIdentities","summary":"List available brand identities","description":"Returns every brand identity in the organization, default identity first.","responses":{"200":{"description":"Brand identities fetched successfully","content":{"application/json":{"schema":{"type":"object","properties":{"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]},"brandIdentities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"isDefault":{"type":"boolean"},"websiteUrl":{"type":"string"},"companyName":{"type":["string","null"]},"companyDescription":{"type":["string","null"]},"toneProfile":{"type":["string","null"]},"customTone":{"type":["string","null"]},"customInstructions":{"type":["string","null"]},"audience":{"type":["string","null"]},"language":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","isDefault","websiteUrl","companyName","companyDescription","toneProfile","customTone","customInstructions","audience","language","createdAt","updatedAt"]}}},"required":["organization","brandIdentities"]}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Organization not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Authentication service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/brand-identities/generate":{"post":{"tags":["Content"],"operationId":"createBrandIdentity","summary":"Queue async brand identity generation","description":"Creates the brand identity immediately, then queues a website analysis that fills in company details, tone, and audience. The first brand identity in an organization becomes the default. Poll GET /v1/brand-identities/generate/{jobId} until job.status is completed or failed.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":120,"description":"Display name. Must be unique within the organization. Defaults to \"Untitled Brand Voice\".","example":"Notra"},"websiteUrl":{"type":"string","minLength":1,"description":"Public website to analyze for company details, tone, and audience. The scheme is optional; https is assumed.","example":"https://usenotra.com"}},"required":["websiteUrl"]}}}},"responses":{"202":{"description":"Brand identity generation queued successfully","content":{"application/json":{"schema":{"type":"object","properties":{"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]},"job":{"type":"object","properties":{"id":{"type":"string"},"organizationId":{"type":"string"},"brandIdentityId":{"type":"string","description":"ID of the brand identity being analyzed. The identity is created immediately and its details are filled in as the job completes."},"status":{"type":"string","enum":["queued","running","completed","failed"],"description":"Job state. Stop polling once it is completed or failed."},"step":{"type":["string","null"],"enum":["scraping","extracting","saving",null],"description":"Current analysis step while the job is running."},"currentStep":{"type":"integer","minimum":0},"totalSteps":{"type":"integer","minimum":1},"workflowRunId":{"type":["string","null"]},"error":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"completedAt":{"type":["string","null"]}},"required":["id","organizationId","brandIdentityId","status","step","currentStep","totalSteps","workflowRunId","error","createdAt","updatedAt","completedAt"]}},"required":["organization","job"]}}}},"400":{"description":"Invalid request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Organization not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Brand identity name already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Rate limit exceeded. This endpoint allows 5 requests per 1 minute per API key.","headers":{"RateLimit-Limit":{"description":"Maximum requests allowed in the current window.","schema":{"type":"integer"}},"RateLimit-Remaining":{"description":"Requests remaining in the current window.","schema":{"type":"integer"}},"RateLimit-Reset":{"description":"Seconds until the current window resets.","schema":{"type":"integer"}},"Retry-After":{"description":"Seconds the client should wait before retrying.","schema":{"type":"integer"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimitErrorResponse"}}}},"503":{"description":"Authentication service or brand analysis unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/brand-identities/generate/{jobId}":{"get":{"tags":["Content"],"operationId":"getBrandIdentityGeneration","summary":"Get async brand identity generation status","description":"Returns the analysis job. job.status moves from queued to running and ends as completed or failed; job.step shows the current stage while running. Fetch the finished identity with GET /v1/brand-identities/{brandIdentityId}.","parameters":[{"schema":{"type":"string","minLength":1,"pattern":"^[A-Za-z0-9_-]{1,100}$","description":"Job ID returned by POST /v1/brand-identities/generate.","example":"brand_job_5f0c3b2a9d4e4c1f8a7b6c5d4e3f2a1b"},"required":true,"description":"Job ID returned by POST /v1/brand-identities/generate.","in":"path","name":"jobId"}],"responses":{"200":{"description":"Brand identity generation status fetched successfully","content":{"application/json":{"schema":{"type":"object","properties":{"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]},"job":{"type":"object","properties":{"id":{"type":"string"},"organizationId":{"type":"string"},"brandIdentityId":{"type":"string","description":"ID of the brand identity being analyzed. The identity is created immediately and its details are filled in as the job completes."},"status":{"type":"string","enum":["queued","running","completed","failed"],"description":"Job state. Stop polling once it is completed or failed."},"step":{"type":["string","null"],"enum":["scraping","extracting","saving",null],"description":"Current analysis step while the job is running."},"currentStep":{"type":"integer","minimum":0},"totalSteps":{"type":"integer","minimum":1},"workflowRunId":{"type":["string","null"]},"error":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"completedAt":{"type":["string","null"]}},"required":["id","organizationId","brandIdentityId","status","step","currentStep","totalSteps","workflowRunId","error","createdAt","updatedAt","completedAt"]}},"required":["organization","job"]}}}},"400":{"description":"Invalid path params","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Brand identity analysis job not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Brand analysis is unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/brand-identities/{brandIdentityId}":{"get":{"tags":["Content"],"operationId":"getBrandIdentity","summary":"Get a single brand identity","description":"Returns the brand identity. When no brand identity with this ID exists in your organization, the response is still 200 with brandIdentity set to null.","parameters":[{"schema":{"type":"string","minLength":1,"pattern":"^[A-Za-z0-9_-]{1,100}$","example":"51c2f3aa-efdd-4e28-8e69-23fa2dfd3561"},"required":true,"in":"path","name":"brandIdentityId"}],"responses":{"200":{"description":"Brand identity fetched successfully","content":{"application/json":{"schema":{"type":"object","properties":{"brandIdentity":{"type":["object","null"],"properties":{"id":{"type":"string"},"name":{"type":"string"},"isDefault":{"type":"boolean"},"websiteUrl":{"type":"string"},"companyName":{"type":["string","null"]},"companyDescription":{"type":["string","null"]},"toneProfile":{"type":["string","null"]},"customTone":{"type":["string","null"]},"customInstructions":{"type":["string","null"]},"audience":{"type":["string","null"]},"language":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","isDefault","websiteUrl","companyName","companyDescription","toneProfile","customTone","customInstructions","audience","language","createdAt","updatedAt"]},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]}},"required":["brandIdentity","organization"]}}}},"400":{"description":"Invalid path params","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Organization not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Authentication service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"patch":{"tags":["Content"],"operationId":"updateBrandIdentity","summary":"Update a single brand identity","description":"Updates brand identity fields. Pass isDefault: true to make the target brand identity the organization's default.","parameters":[{"schema":{"type":"string","minLength":1,"pattern":"^[A-Za-z0-9_-]{1,100}$","example":"51c2f3aa-efdd-4e28-8e69-23fa2dfd3561"},"required":true,"in":"path","name":"brandIdentityId"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":120,"example":"Notra"},"websiteUrl":{"type":"string","minLength":1,"example":"https://usenotra.com"},"companyName":{"type":["string","null"],"minLength":1,"maxLength":200,"example":"Notra"},"companyDescription":{"type":["string","null"],"minLength":10,"maxLength":4000,"example":"AI-native content workflows for software teams."},"toneProfile":{"type":["string","null"],"enum":["Conversational","Professional","Casual","Formal",null],"example":"Professional","description":"Set a preset tone profile. When provided without customTone, any saved custom tone is cleared."},"customTone":{"type":["string","null"],"maxLength":1000,"example":"Clear, direct, and technically confident","description":"Provide a custom tone override. Send an empty string or null to clear it."},"customInstructions":{"type":["string","null"],"maxLength":4000,"example":"Avoid hype. Prioritize concrete examples."},"audience":{"type":["string","null"],"minLength":10,"maxLength":1000,"example":"Engineering leaders and developer tooling teams."},"language":{"type":["string","null"],"enum":["English","Spanish","French","German","Portuguese","Dutch","Italian","Japanese","Korean","Chinese","Arabic","Hindi","Russian","Turkish","Polish","Swedish","Danish","Norwegian","Finnish","Czech","Romanian","Hungarian","Greek","Thai","Vietnamese","Indonesian","Ukrainian","Hebrew",null],"example":"English"},"isDefault":{"type":"boolean","enum":[true],"example":true,"description":"Set this brand identity as the organization's default. Only true is accepted."}}},"examples":{"setDefault":{"summary":"Set as default","value":{"isDefault":true}},"updateAndSetDefault":{"summary":"Rename and set as default","value":{"name":"Notra Marketing","isDefault":true}},"switchToPresetTone":{"summary":"Switch custom tone to preset","value":{"toneProfile":"Professional"}},"setCustomTone":{"summary":"Set custom tone","value":{"customTone":"Warm, sharp, and opinionated"}}}}}},"responses":{"200":{"description":"Brand identity updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]},"brandIdentity":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"isDefault":{"type":"boolean"},"websiteUrl":{"type":"string"},"companyName":{"type":["string","null"]},"companyDescription":{"type":["string","null"]},"toneProfile":{"type":["string","null"]},"customTone":{"type":["string","null"]},"customInstructions":{"type":["string","null"]},"audience":{"type":["string","null"]},"language":{"type":["string","null"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","isDefault","websiteUrl","companyName","companyDescription","toneProfile","customTone","customInstructions","audience","language","createdAt","updatedAt"]}},"required":["organization","brandIdentity"]}}}},"400":{"description":"Invalid path params or request body","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Brand identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Brand identity name already exists","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Authentication service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Content"],"operationId":"deleteBrandIdentity","summary":"Delete a single brand identity","description":"Deletes a non-default brand identity and disables any automation triggers that reference it.","parameters":[{"schema":{"type":"string","minLength":1,"pattern":"^[A-Za-z0-9_-]{1,100}$","example":"51c2f3aa-efdd-4e28-8e69-23fa2dfd3561"},"required":true,"in":"path","name":"brandIdentityId"}],"responses":{"200":{"description":"Brand identity deleted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string"},"organization":{"type":"object","properties":{"id":{"type":"string"},"slug":{"type":"string"},"name":{"type":"string"},"logo":{"type":["string","null"]}},"required":["id","slug","name","logo"]},"disabledSchedules":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"]}},"disabledEvents":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"]}}},"required":["id","organization","disabledSchedules","disabledEvents"]}}}},"400":{"description":"Cannot delete the default brand identity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Missing or invalid API key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Brand identity not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Authentication service unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/integrations":{"get":{"tags":["Content"],"operationId":"listIntegrations","summary":"List available integrations","description":"Returns the enabled GitHub and Linear integrations for the organization. The slack array is always empty.","responses":{"200":{"description":"Integrations fetched successfully","content":{"application/json":{"schema":{"type":"object","properties":{"github":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"displayName":{"type":"string"},"owner":{"type":["string","null"]},"repo":{"type":["string","null"]},"defaultBranch":{"type":["string","null"]}},"required":["id","displayName","owner","repo","defaultBranch"]},"description":"Enabled GitHub integrations. One entry per connected repository."},"slack":{"type":"array","items":{},"description":"Always empty. Slack is connected from the d
[...]
